.quill-editor-question-container.ql-editor img {
    max-width: 50%;  
    height: auto;        
    display: block;      
    margin: 5px 0;      
    border-radius: 4px;  
  }
  .quill-editor-answer-container .ql-editor img {    max-width: 50%;   /* ảnh đáp án nhỏ hơn câu hỏi */
    height: 60%;
    width: 80%;
    display: block;
    margin: 5px 0;
    border-radius: 4px;
    object-fit: contain;
  }
  